@charset "UTF-8";

.nav-item .nav-link:hover {
	color: white;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #0dcaf0;
}

@media ( max-width : 768px) {
	.logoImg {
		width: 70px;
	}
	.user {
		display: flex;
		margin-left: auto;
	}
	.cart {
		font-size: 25px;
	}
		#cartCount {
		font-size: 10px;
	}
}

@media ( min-width : 768px) {
	.logoImg {
		width: 170px;
	}
	.cart {
		font-size: 28px;
	}
	#cartCount {
		font-size: 10px;
	}
}
