@charset "UTF-8";

.nav-item .nav-link:hover {
	color: white;
}

.dropdown-menu .dropdown-item:hover {
	background-color: #0dcaf0;
}

@media ( max-width : 768px) {
	.logoImg {
		width: 65px;
	}
	.user{
	
	display: flex;
	margin-left: auto;
	}
}

@media ( min-width : 768px) {
	.logoImg {
		width: 180px;
	}
}